doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  url
    loc http://www.analyticsdojo.com/
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/nonprofits
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/pmi-acp-agile-project-managers
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/map
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/labs
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/stories
    changefreq weekly
    lastmod= now
    priority= 0.9

  url
    loc http://www.analyticsdojo.com/coding-bootcamp-cost-calculator
    changefreq monthly
    lastmod= now
    priority= 0.9

  each challenge in challenges
    url
      loc #{appUrl}/challenges/#{challenge}
      lastmod= now
      changefreq weekly
      priority= 0.9

  each job in jobs
    url
      loc #{appUrl}/jobs/#{job}
      lastmod= now
      changefreq monthly
      priority= 0.5
