nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text Menu
        a.navbar-brand(href='/challenges/next-challenge')
            img.img-responsive.nav-logo(src='/images/dojo.png', alt='learn analytics at the analytics dojo')
        a.navbar-brand(href="/") #{process.env.CLIENT_SITENAME}
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li.hidden-xs
                a#nav-map-btn(href='/map' onclick='if (!(event.ctrlKey || event.metaKey)) {return false;}') Lessons
            li.visible-xs
                a(href='/map') Lessons
            li
                a(href="#{process.env.CLIENT_CHAT}" target="_blank") Chat
            <!--Add Wiki and Forum Later
            li.hidden-xs
                a#nav-wiki-btn(href='/wiki' onclick='if (!(event.ctrlKey || event.metaKey)) {return false;}') Wiki
            li.visible-xs
                a(href='/wiki', target='_blank') Wiki  -->
            li
                a(href='#{process.env.CLIENT_FORUM}', target='_blank') Forum
            li
                a(href='/about') About
            if !user
                li
                    a(href='/signin') Sign in
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.points}&thinsp;]
                li.hidden-xs.hidden-sm.avatar
                  a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
